@use "../../scss/variables" as *;
@use "../../scss/mixin" as *;

.header {
  height: 13vh;
  width: 100%;
  @include flex(center, center);
  margin-bottom: 3rem;
  background-color: $main-color;

  &__title {
    font-family: $font-title;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
  }

  &__log {
    position: absolute;
    right: 0;

    &__button {
      font-size: 0.9rem;
    }
  }
}
