@use "../../scss/breakpoint" as *;
@use "../../scss/mixin" as *;
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  margin-bottom: 3rem;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &__loadmore {
    text-align: center;
  }
}

.movie-card {
  border-radius: 16px;
  color: white;
  flex-direction: column;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

  @include flex(center, center);

  img {
    width: 100%;
    border-radius: 14px 14px 0 0;
    margin-bottom: 12px;
  }

  .title {
    font-weight: bold;
  }

  .release-date {
    margin-bottom: 1rem;
  }

  .popularity {
    font-weight: bold;
    font-size: 30px;
  }
}
