@use "../../scss/variables" as *;
@use "../../scss/mixin" as *;

.login-content {
  background-color: $main-color;
  @include flex(center, center);
  font-family: $font-family;
  height: 100vh;
}
