@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$body-bg: #151515;
$main-color: #f6d155;
$text-color: #fff;
$border-radius: 16px;

$font-family: "Montserrat", sans-serif;

$mobile-width: 600px;
$tablet-width: 1024px;
