@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$body-bg: #151515;
$main-color: #f6d155;
$error-color: #af2413;
$text-color: #fff;
$border-radius: 16px;

$font-family: "Montserrat", sans-serif;

@font-face {
  font-family: "CornerStone";
  src: url("../assets/fonts/Cornerstone.ttf");
}
$font-title: "CornerStone", sans-serif;

$mobile-width: 600px;
$tablet-width: 1024px;
